# --- Entorno virtual de Python ---
.venv/
env/
venv/

# --- Archivos temporales ---
*.pyc
__pycache__/

# --- Logs de Airflow ---
logs/

# --- Archivos de MinIO (simulación de S3) ---
data_lake/
*.meta

data_lake/weather_raw/
*.xml

# --- Configuración de VSCode ---
.vscode/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- PySpark y Jupyter ---
.ipynb_checkpoints/

# --- Docker ---
*.pid
*.log

# --- Archivos que contienen IDs de DAGs corriendo ---
dag_processor_manager/
