# --- Entorno virtual de Python ---
.venv/
env/
venv/

# --- Archivos temporales ---
*.pyc
__pycache__/

# --- Logs de Airflow ---
logs/
data_lake/raw/*
data_lake/processed/*

# --- Archivos de MinIO (simulación de S3) ---
minio_data/

# --- Configuración de VSCode ---
.vscode/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- PySpark y Jupyter ---
.ipynb_checkpoints/

# --- Docker ---
*.pid
*.log

# --- Archivos que contienen IDs de DAGs corriendo ---
dag_processor_manager/

# Mantener las carpetas vacías en el repo
!.gitkeep